<div class="top-header">
      <div class="container-custom top-header-inner">
        <div class="top-info" *ngIf="contactInfo">
          <span>
            <a [href]="whatsappLink" target="_blank" rel="noopener noreferrer">
              <i class="fa-solid fa-phone p-1"></i> {{ contactInfo.phone }}
            </a>
          </span>
          <span>
            <a [href]="'mailto:' + contactInfo.email">
              <i class="fa-solid fa-envelope"></i> {{ contactInfo.email }}
            </a>
          </span>
        </div>
        <div class="top-lang">
          <a *ngIf="contactInfo" [href]="contactInfo.webSite" target="_blank" class="website-link">AR</a>
        </div>
      </div>
    </div>
