<section class="hero-slider" *ngIf="slides.length > 0">
  <div class="slides">
    <div 
      *ngFor="let slide of slides; let i = index" 
      class="slide"
      [class.active]="i === currentSlideIndex"
      [class.animating]="i === animatingIndex"
      [style.background-image]="'url(' + (slide.heroAttachments[0]?.url || '') + ')'"
    >
      <div class="slide-content">
        <div class="hero-text-box">
          <h1 class="motion-title">
            {{ slide.title }}
          </h1>
          <p class="slide-subtitle">{{ slide.subTitle }}</p>
          <p class="slide-description">{{ slide.description }}</p>

          <div class="hero-btn-container">
            <a href="#" class="hero-btn">
              Join Now
                <span></span>
            </a>
          </div>
        </div>
      </div>
      <div class="hero-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
      <!-- نقاط التقدم 
      <div class="slider-dots">
        <div 
          *ngFor="let dot of dots; let j = index" 
          class="dot"
          [class.active]="dot.active"
          (click)="switchSlide(j)"
        >
          <svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
            <circle cx="22" cy="22" r="20"></circle>
          </svg>
          <span>LNU</span>
        </div>
      </div>-->
    </div>
  </div>
</section>
