<section class="hero-slider" *ngIf="slides.length > 0">
  <div class="slides">
    <div 
      *ngFor="let slide of slides; let i = index" 
      class="slide"
      [class.active]="i === currentSlideIndex"
      [style.background-image]="'url(' + (slide.heroAttachments[0]?.url || '') + ')'"
    >
      <div class="slide-content">
        <h1 class="motion-title">
          {{ slide.title }}
        </h1>
        <p class="slide-subtitle">{{ slide.subTitle }}</p>
        <p class="slide-description">{{ slide.description }}</p>
      </div>

      <!-- نقاط التقدم -->
      <div class="slider-dots">
        <div 
          *ngFor="let dot of dots; let j = index" 
          class="dot"
          [class.active]="dot.active"
          (click)="switchSlide(j)"
        >
          <svg>
            <circle cx="22" cy="22" r="20"></circle>
          </svg>
          <span>LNU</span>
        </div>
      </div>
    </div>
  </div>
</section>
